services:
  db: #database
    container_name: postgres-spring-boot
    image: postgres:latest
    environment:
      #this is what you need to enter in application.properties to let
      #your application use postgresql
      POSTGRES_USER: amigoscode
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports: #this also says postgres runs on 5332
      - "5332:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge
volumes:
  db: